@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilites {
    .caption {
        @apply text-sm font-medium text-center text-gray-400;
    }
    .caption-lg{
        @apply text-2xl font-medium text-center text-gray-400;
    }
    .caption-left{
        @apply text-lg font-medium text-left text-gray-400;
    }
}

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");
@font-face {
    font-family: 'BMHANNAPro';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.0/BMHANNAPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@layer base{
    :root{
        --BM-primary : #2AC1BC;
        --BM-secondary : #70bf54;
        --BM-tertiary : #ffcc32;
        --BM-black : #414141;    
        --BM-warning : tomato;    
    }
}