@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilites {
    .caption {
        @apply text-sm font-medium text-center text-BMgray400;
    }
    .caption-lg{
        @apply text-2xl font-medium text-center text-BMgray400;
    }
    .caption-left{
        @apply text-lg font-medium text-left text-BMgray400;
    }
}

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");
@font-face {
    font-family: 'BMHANNAPro';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.0/BMHANNAPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@layer base{
    :root{
        --BM-primary : #23b8c0;
        --BM-primary-100 : #f3f4f6;
        --BM-secondary : #6dba44;
        --BM-tertiary : #fdd118;
        --BM-black : #414141;    
        --BM-realblack : #000000;    
        --BM-warning : tomato;    
        --BM-white : #ffffff;    
        --BM-gray : #ffffff;    
        --BM-gray400 : #9ca3af;    
        --BM-gray500 : #6b7280;    
        --BM-gray200 : #e5e7eb;    
        --BM-line : #f1f5f9;    
    }
}